@using System.Net.Http;
@using CustomerClient.Data;
@inject HttpClient client;

<h3>Put</h3>

@code {

    private Customer _editCustomer = new Customer();

    private void EditCustomer(int id)
    {
        var editCustomer = 1;
        editCustomer.ToString();
    }

}
